<h1> <%= @blogger.name %> </h1>

<p> Age <%= @blogger.age %> </p>

<p><%= @blogger.bio %> </p><br>

<p> Most Liked Post: <%= @blogger.most_liked_post.title  %> </p>

<p> Total Likes <%= @blogger.total_num_likes %></p>

<ul>
    <% @blogger.posts.each do |post| %>
   <li><%= link_to post.title, post_path(post) %></li>
 <%end%>
</ul>
