<% if flash[:errors] %> 
    <% flash[:errors].each do |error| %> 
        <p><%= error %></p> 
    <% end %> 
<% end %> 

<%= form_for(@post) do |f| %> 
    <div class="field"> 
        <%= f.label :title %> 
        <%= f.text_field :title %> 
    </div> 
    <div class="field"> 
        <%= f.label :content %> 
        <%= f.text_field :content %> 
    </div> 
    <div class="field"> 
        <%= f.label :likes %> 
        <%= f.number_field :likes %> 
    </div> 
    <div class="field"> 
        <%= f.label :blogger_id %> 
        <%= f.collection_select :blogger_id, @bloggers, :id, :name %> 
    </div> 
    <div class="field"> 
        <%= f.label :destination_id %> 
        <%= f.collection_select :destination_id, @destinations, :id, :name %> 
    </div>
    <div class="actions"> 
        <%= f.submit %> 
    </div> 
<% end %>  