
<h1>Posts#new</h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
    <%= error %>
<% end %>
<% end %>


<%= form_for @post do |f| %>
    <%= f.label "Title" %>
    <%= f.text_field :title%> <br>

    <%= f.label "content" %>
    <%= f.text_field :content%> <br>

    <%= f.label "Blogger" %>
    <%= f.collection_select :blogger_id, Blogger.all, :id, :name %> <br>

    <%= f.label "Destination" %>
    <%= f.collection_select :destination_id, Destination.all, :id, :name %> <br>


    <%= f.submit %>
<% end %>

<!-- t.string "title"
t.text "content"
t.integer "likes"
t.integer "blogger_id"
t.integer "destination_id" -->