<div class="Container"> 
    <h1><%= @post.title %></h1> 
    <p><strong><%= @post.content %></strong></p> 
    <p><strong><%= link_to @post.blogger.name, blogger_path(@post.blogger_id) %></strong></p> 
    <p><strong><%= link_to @post.destination.name, destination_path( @post.destination_id) %></strong></p> 
    <p><strong><%= button_to 'Like Post', add_like_path, method: :patch %></strong></p> 
    <p><strong><%= link_to 'Edit Post', edit_post_path(@post) %></strong></p> 

</div>